@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
    --primary-color: rgb(17, 86, 102);
    --primary-color-darker: rgb(9, 48, 56);
    --background-color: rgba(18, 89, 102, 0.356);
    --background-color-darker: rgba(18, 89, 102, 0.178);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

body.modo-escuro {
    background-color: var(--primary-color);
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    color: var(--primary-color);
    text-align: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

header img {
    height: 50px;
    width: 50px;
}

header img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

header #botao-alterar-tema {
    background: none;
    border: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    padding: 10px;
    margin: 10px;
    background-color: rgba(18, 89, 102, 0.356);
    border-radius: 10px;
}

li:hover {
    transform: scale(1.05);
    background-color: rgba(18, 89, 102, 0.178);
    border-radius: 10px;
}

.btn-tarefa, .btn-del-all {
    background-color: white;
    color: var(--primary-color);
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    padding: 5px;
    cursor: pointer;
    box-shadow: 1px 1px var(--primary-color-darker);
}

.btn-tarefa:hover , .btn-del-all:hover {
    background-color: var(--primary-color-darker);
    color: white;
    border: 2px solid var(--primary-color-darker);
    box-shadow: 1px 1px var(--primary-color-darker);
}

.input-tarefa {
    color: var(--primary-color);
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    padding: 5px;
    box-shadow: 1px 1px var(--primary-color-darker);
}

.apagar {
    padding: 8px;
    background-color: var(--primary-color);
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
}

.apagar:hover {
    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}




